name: EAS Build

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  eas-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          npm install -g eas-cli
      - run: |
          cd mobile
          npm ci
      - env:
          EAS_TOKEN: ${{ secrets.EAS_TOKEN }}
        run: |
          eas build --platform android --profile preview --non-interactive
